/*ConsommableCard.js*/

#divCardFull{
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}
#divGauche{
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
}
#divType{
  font-size: 14px;
}
#divType p{
  margin-right: 4px;
}

#divDroite{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#divDescEffBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#divDescEff{
  display: flex;
  justify-content: center;
  align-items: center;
}
#divBtn{
  display: flex;
  flex-direction: column;
  width: 50px;
  margin-right: 2px;
}
#divBtn button{
  margin: 3px;
  font-size: 20px;
  font-weight: bold;
}
.card-img-left{
  padding: 2px;
}


.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 350px; /* Adjust as needed */
}

.divImg{
  height: '100%';
}
.divImg img{
  width: 100px;
}


/*Autre ?*/
.button {
  width: 40px;
}

/*Consommable.js*/

#divAdd{
  width: 50%;
  border: 1px lightgray dotted;
  border-radius: 5%;
}
.textAdd {
  cursor: pointer;
  font-size: 4em;
}
.encard {
  border: 1px lightgray dotted;
  margin: 1em;
  padding-left: 2em;
}

span {
  font-size: 20px;
  margin-left: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}